<div class="pd-teambuilder-list-row pd-teambuilder-list-header">

  <div class="pd-teambuilder-list-head-cell --tb-ability-name-cell --action-cell">
    Name
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-ability-desc-cell">
    <translator2 english="Description" german="Beschreibung"></translator2>
  </div>

</div>

<div class="pd-teambuilder-list-content">

  <div class="pd-teambuilder-list-row pd-teambuilder-list-row--selectable pd-teambuilder-list-row--scalable"
       [translatableTitle2]="ability.description"
       [ngClass]="{
        'pd-teambuilder-list-row--selected': selectedTeampokemonsAbility?.name === ability.name,
        'pd-teambuilder-list-row--marked': index === marker.index
       }"
       (click)="selectAbility(ability)"
       *ngFor="let ability of abilities._current; index as index">
    <div class="pd-teambuilder-list-cell --tb-ability-name-cell flex-align-left">
      <translator3 [source]="ability.name"></translator3>
    </div>
    <div class="pd-teambuilder-list-cell --tb-desc-cell --tb-ability-desc-cell flex-align-left">
      <translator3 [source]="ability.shortDescription"></translator3>
    </div>
  </div>

</div>
