<div class="pd-teambuilder-list-row pd-teambuilder-list-header">

  <div class="pd-teambuilder-list-head-cell --tb-item-name-cell --action-cell">
    Item
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-item-desc-cell">
    <translator2 english="Description" german="Beschreibung"></translator2>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-item-fling-basepower"
       translatableTitle
       englishTitle="The basepower of the attack Fling, when this item is thrown."
       germanTitle="Die Stärke der Attacke Schleuder, wenn dieses Item geworfen wird.">
    <translator2 english="Fling" german="Schleuder"></translator2>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-item-natural-gift"
       translatableTitle
       englishTitle="If the item is a berry, it determines the basepower and the type of the attack Natural Gift."
       germanTitle="Wenn das Item eine Beere ist, bestimmt es den Typ und die Stärke der Attacke Beerenkräfte.">
    <translator2 english="Berry" german="Beere"></translator2>
  </div>
</div>

<div #itemListContainer class="pd-teambuilder-list-content">

  <div class="pd-teambuilder-list-sub-container">
    <div class="pd-teambuilder-list-subheading-head">
      <span class="pd-teambuilder-list-subheading-title --subheading-line">
        <translator2 english="Popular Items" german="Beliebte Items"></translator2>
      </span>
    </div>

    <pd-item-list-row-container [items]="items.firstHalf"
                                [markedId]="marker.index"
                                (choose)="selectItem($event)">
    </pd-item-list-row-container>
  </div>

  <div class="pd-teambuilder-list-sub-container">
    <div class="pd-teambuilder-list-subheading-head">
      <span class="pd-teambuilder-list-subheading-title --subheading-line">
        <translator2 english="Other Items" german="Weitere Items"></translator2>
      </span>
    </div>

    <pd-item-list-row-container [items]="items.secondHalf"
                                [markedId]="marker.markerForSecondHalf"
                                (choose)="selectItem($event)">
    </pd-item-list-row-container>
  </div>

</div>

