<div class="pd-teambuilder-list-row pd-teambuilder-list-header">

  <div class="pd-teambuilder-list-head-cell --tb-move-name-cell --action-cell"
       (click)="sortByName()">
    Name
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-move-props-cell">
    <translator3 [source]="{ english: 'Type', german: 'Typ' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-move-props-cell"
       [translatableTitle2]="{ english: 'Category', german: 'Kategorie' }">
    <translator3 [source]="{ english: 'Cat', german: 'Kat' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-move-props-cell --action-cell"
       [translatableTitle2]="{ english: 'Power', german: 'Stärke' }"
       (click)="moves.sort('basePower')">
    <translator3 [source]="{ english: 'Pow', german: 'Strk' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-move-props-cell --action-cell"
       [translatableTitle2]="{ english: 'Accuracy', german: 'Genauigkeit' }"
       (click)="moves.sort('accuracy')">
    <translator3 [source]="{ english: 'Acc', german: 'Gen' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-move-props-cell --tb-powerpoints-cell --action-cell"
       [translatableTitle2]="{ english: 'PowerPoints', german: 'Angriffspunkte' }"
       (click)="moves.sort('powerPoints')">
    <translator3 [source]="{ english: 'PP', german: 'AP' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-move-desc-cell">
    <translator3 [source]="{ english: 'Description', german: 'Beschreibung' }"></translator3>
  </div>

</div>

<div class="pd-container-row pd-teambuilder-list-container-row flex-align-center small-margin-top no-margin-bottom"
     *ngIf="loadingError">
  <div class="pd-error-icon pd-error-icon--smaller-margin"></div>
  <span class="pd-error-text">
    <translator3 [source]="{
          english: 'An error occurred while fetching the Pokémon´s moves.',
          german: 'Fehler beim Laden der Attacken.'
        }"></translator3>
  </span>
</div>

<div class="pd-container-row pd-teambuilder-list-container-row pd-teambuilder-list-container-row--for-loader flex-align-center flex-align-top small-margin-top no-margin-bottom"
     *ngIf="loadingMoves">
  <pd-loader>
    <translator3 [source]="{ english: 'Load Moves', german: 'Lade Attacken' }"></translator3>
  </pd-loader>
</div>


<div #moveListContainer
     class="pd-teambuilder-list-content"
     *ngIf="moves.firstHalf.length > 0 || moves.secondHalf.length > 0;">

  <div class="pd-teambuilder-list-sub-container">
    <div class="pd-teambuilder-list-subheading-head">
      <span class="pd-teambuilder-list-subheading-title --subheading-line"
            translatableTitle
            englishTitle="These are common moves that many people like to use on this Pokémon."
            germanTitle="Das sind beliebte Attacken, die von vielen Spieler gerne auf diesem Pokémon verwendet werden.">
        <translator2 english="Common Moves" german="Beliebte Attacken"></translator2>
      </span>
    </div>

    <moves-list-row-container
      [moves]="moves.firstHalf"
      [markedId]="marker.index"
      (choose)="insertMove($event)">
    </moves-list-row-container>
  </div>

  <div class="pd-teambuilder-list-sub-container pd-teambuilder-list-sub-container--grey-highlight">
    <div class="pd-teambuilder-list-subheading-head">
      <span class="pd-teambuilder-list-subheading-title"
            [translatableTitle2]="{
                english: 'These moves are typically not used by the majority of players, but sometimes they can be used for unique strategies.',
                german: 'Diese Attacken werden vom Pokémon zwar beherrscht, aber vom Großteil der Spieler eher selten genutzt. Manchmal werden diese Attacken jedoch für einzigartige Strategien verwendet oder werden durch bestimmte Items oder Fähigkeiten spielbar.'
              }">
        <translator3 [source]="{ english: 'Usually Useless Moves', german: 'Normalerweise unnütze Attacken' }"></translator3>
      </span>
    </div>

    <moves-list-row-container
      [moves]="moves.secondHalf"
      [markedId]="marker.markerForSecondHalf"
      (choose)="insertMove($event)">
    </moves-list-row-container>
  </div>
</div>

<div class="pd-teambuilder-list-reload-button"
     translatableTitle
     englishTitle="Reload Moves"
     germanTitle="Attacken neu laden"
     [translatableTitle2]="{
        english: 'Reload Moves',
        german: 'Attacken neu laden'
     }"
     *ngIf="!loadingMoves">
  <img src="assets/icons/download.png" alt="">
</div>


