<div class="pd-teambuilder-list-row pd-teambuilder-list-row--selectable pd-teambuilder-list-row--scalable"
     [ngClass]="{
        'pd-teambuilder-list-row--selected': (selectedTeampokemonsItem$ | async)?.id === item.id,
        'pd-teambuilder-list-row--marked': index === markedId
       }"
     (click)="selectItem(item)"
     *ngFor="let item of items; index as index">

  <div class="pd-teambuilder-list-cell --tb-item-name-cell --teambuilder-cell-has-multiple-contents">
    <div class="pd-teambuilder-list-row-icon">
      <img src="assets/items/{{item.imgSrc}}" alt="">
    </div>

    <div class="pd-teambuilder-list-cell-text">
      <translator3 [source]="item.name"></translator3>
    </div>
  </div>

  <div class="pd-teambuilder-list-cell --tb-desc-cell --tb-item-desc-cell --cell-align-left">
      <translator3 [source]="item.description"></translator3>
  </div>

  <div class="pd-teambuilder-list-cell pd-teambuilder-list-prop-cell --tb-item-fling-basepower">
      <ng-container *ngIf="item.flingBasePower">
        <span class="pd-teambuilder-list-prop-label">
        <translator2 english="Power" german="Stärke"></translator2>
      </span>
        {{item.flingBasePower}}
      </ng-container>
  </div>

  <div class="pd-teambuilder-list-cell pd-teambuilder-list-prop-cell --tb-item-natural-gift" *ngIf="item.berry?.naturalGift as naturalGift">
      <span class="pd-teambuilder-list-prop-label">
        <translator2 english="Natural Gift" german="Beerenkräfte"></translator2>
      </span>
    {{naturalGift.basePower}}
    <pokemon-type-image class="pd-item-natural-gift-type-icon"
                        [type]="naturalGift.type"></pokemon-type-image>
  </div>

</div>
