@import "../../utils";

.pd-statistics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.pd-statistics-settings-row {
  height: 50px;
}

@import "type-statistics";
@import "hazard-statistics";
@import "item-statistics";
