<div class="pd-teambuilder-list-row pd-teambuilder-list-row--selectable pd-teambuilder-list-row--scalable"
     [ngClass]="{
        'pd-teambuilder-list-row--selected': (selectedTeampokemonsItem$ | async)?.id === item.id,
        'pd-teambuilder-list-row--marked': index === markedId
       }"
     (click)="selectItem(item)"
     *ngFor="let item of items; index as index">

  <div class="pd-teambuilder-list-cell --tb-item-name-cell --teambuilder-cell-has-multiple-contents">
    <div class="pd-teambuilder-list-row-icon">
      <img src="assets/items/{{item.imgSrc}}" alt="">
    </div>

    <div class="pd-teambuilder-list-cell-text">
      {{item.name | translate | async}}
    </div>
  </div>

  <div class="pd-teambuilder-list-cell --tb-desc-cell --tb-item-desc-cell flex-align-left">
      {{item.description | translate | async}}
  </div>

  <div class="pd-teambuilder-list-cell pd-teambuilder-list-prop-cell --tb-item-fling-basepower">
      <ng-container *ngIf="item.flingBasePower">
        <span class="pd-teambuilder-list-prop-label">
          <translator2 english="Power" german="Stärke"></translator2>
        </span>
        {{item.flingBasePower}}
      </ng-container>
  </div>

  <div class="pd-teambuilder-list-cell pd-teambuilder-list-prop-cell --tb-item-natural-gift" *ngIf="item.berry?.naturalGift as naturalGift">
      <pd-natural-gift [naturalGift]="naturalGift"></pd-natural-gift>
  </div>

</div>
