<form class="pd-teambuilder-form-container"
      name="teambuilder-form">

  <ng-container *ngIf="pokemon">
    <div class="pd-teambuilder-form-fraction --pokemon-fraction">
      <pd-input size="small"
                maxlength="12"
                [(value)]="pokemon.nickname">
        <translator2 english="Nickname" german="Spitzname"></translator2>
      </pd-input>
      <div class="pd-teambuilder-form-pokemon-sprite-container">
        <img class="pd-teambuilder-form-pokemon-sprite"
             [src]="pokemon.sprite"
             alt="">
        <img class="pd-teambuilder-form-pokemon-sprite-shiny-indicator-icon"
             src="assets/other/shiny.png"
             alt=""
             [class.--indicator-active]="pokemon.shiny">
        <pd-radio-checkbox
          class="pd-teambuilder-form-pokemon-sprite-shiny-checkbox"
          title="Shiny?"
          [(checked)]="pokemon.shiny"
          (checkedChange)="pokemon.updateSprite()">
        </pd-radio-checkbox>
      </div>
      <pd-input size="small"
                maxlength="15"
                [(value)]="searchPokemon"
                (click)="openPokemonList()"
                (onblur)="resetName()">
        Pokémon
      </pd-input>
    </div>

    <div class="pd-teambuilder-form-fraction --meta-data-fraction">

      <div class="pd-teambuilder-form-general-settings-container">
        <div class="pd-teambuilder-form-general-settings-fraction">
          <label class="pd-teambuilder-form-general-settings-fraction-title" for="level"> Level </label>
          <div class="pd-teambuilder-form-general-settings-fraction-content">
            <input class="pd-teambuilder-form-small-input --remove-number-input-appearance"
                   id="level"
                   name="Pokémon Level"
                   type="number"
                   translatableTitle
                   englishTitle="Level of the Pokémon. Ranges from 1 - 100."
                   germanTitle="Level des Pokémon. Bewegt sich zwischen 1 und 100."
                   maxlength="3"
                   [(ngModel)]="pokemon.level">
          </div>
        </div>
        <div class="pd-teambuilder-form-general-settings-fraction">
          <label class="pd-teambuilder-form-general-settings-fraction-title"
                 for="gender-input">
            <translator2 english="Gender" german="Geschl."></translator2>
          </label>
          <div class="pd-teambuilder-form-general-settings-fraction-content">
            <select class="pd-teambuilder-form-small-input --tb-select-box"
                    id="gender-input"
                    name="Pokémon Gender"
                    [(ngModel)]="pokemon.gender">
              <option [value]="gender.id"
                      *ngFor="let gender of genders">
                <translator3 [source]="gender.label"></translator3>
              </option>
            </select>
          </div>
        </div>
        <div class="pd-teambuilder-form-general-settings-fraction">
          <label class="pd-teambuilder-form-general-settings-fraction-title"
                 for="happiness">
            <translator2 english="Happiness" german="Freundsch."></translator2>
          </label>
          <div class="pd-teambuilder-form-general-settings-fraction-content">
            <input class="pd-teambuilder-form-small-input --remove-number-input-appearance"
                   id="happiness"
                   value="255"
                   type="number"
                   translatableTitle
                   englishTitle="Happiness of the Pokémon. Ranges from 1 - 255. Certain Pokémon evolve when reaching a certain level of happiness. The higher the stronger is the Return-Attack. The lower the stronger is the Frustration-Attack."
                   germanTitle="Der Freundschaftswert des Pokémon. Bewegt sich zwischen 1 und 255. Manche Pokémon entwickeln sich, wenn sie ein bestimmtes Level an Freundschaft erreichen. Je höher der Wert, desto stärker ist die Attacke Rückkehr. Je niedriger, desto stärker ist die Attacke Frustration."
                   maxlength="3">
          </div>
        </div>
      </div>

      <div class="pd-teambuilder-form-meta-main">

        <img class="pd-teambuilder-form-item-icon"
             src="assets/items/{{pokemon.item.imgSrc}}" alt="" *ngIf="pokemon.item"/>

        <div class="pd-teambuilder-form-types">
          <pokemon-type-image [type]="type" *ngFor="let type of pokemon.types"></pokemon-type-image>
        </div>
      </div>


      <div class="pd-teambuilder-form-item-and-ability">
        <pd-search-item-input></pd-search-item-input>
        <pd-search-ability-input class="left-space"></pd-search-ability-input>
      </div>

    </div>

    <div class="pd-teambuilder-form-fraction --moves-fraction">
      <move-input [move]="move.data"
                  [moveId]="move_nr"
                  *ngFor="let move of pokemon.moves; index as move_nr">
      </move-input>
    </div>

    <div class="pd-teambuilder-form-fraction --stats-fraction">

      <div class="pd-teambuilder-form-stat-container" (click)="openStats()">
        <stat-overview [stats]="pokemon.stats"></stat-overview>
      </div>

      <pd-nature-dropdown [pokemon]="pokemon" (natureChange)="pokemon.changeNatureById($event)"></pd-nature-dropdown>
    </div>
  </ng-container>

</form>
