<div class="pd-number-chooser2">
  <div class="pd-number-chooser-action2 pd-minus2" (click)="decValue()"></div>
  <input #evInput
         type="number"
         class="pd-number-chooser-display2 pd-number-chooser-display2--input --remove-number-input-appearance"
         [class.pd-number-chooser-value-maxed]="stat.evs >= max"
         (input)="updateAndValidateEvs(evInput.value);"
         [value]="stat.evs"/>
  <div class="pd-number-chooser-action2 pd-plus2" (click)="incValue()"></div>
</div>
