<div class="show-tooltip-on-hover">
  <pd-input #itemInput
            size="small"
            animations="off"
            [(value)]="searchItem"
            (click)="openItemList()"
            (keydown.arrowdown)="listDown()"
            (keydown.arrowup)="listUp()"
            (keydown.enter)="selectMarkedItem()"
            (valueChange)="searchForItem($event)"
            (onblur)="resetSearchInput()">
    Item
  </pd-input>

  <div class="pd-teambuilder-move-input-tooltip" *ngIf="currentItem">
    {{currentItem.description | translate | async}}
  </div>
</div>
