<div class="pd-list-container pd-message-container" *ngIf="isLeagueInvitation; else rewardContainer">

  <div class="pd-message-container-head flex-space-between">
    <div class="pd-message-container-subject">
      {{message.title}}
    </div>

    <pd-user-snippet [user]="message.from"></pd-user-snippet>
  </div>

  <div class="pd-message-container-text">
    {{message.message}}
  </div>

  <div class="pd-message-container-assets"
       routerLink="../leagues/enter/{{league.id}}"
       *ngIf="message.league as league">
    <div class="pd-league-link">
      <span class="padding-top-adjustment">
      {{league.name}}
    </span>
      <pd-round-button class="left-space"
                       title="Enter League"
                       icon="assets/icons/forward.png"
                       alt="Arrow Icon"></pd-round-button>
    </div>
  </div>

</div>

<ng-template #rewardContainer>

  <div class="pd-list-container pd-reward-container"
       [ngClass]="{
          'bg-gold': message.reward.type === 'gold',
          'bg-silver': message.reward.type === 'silver',
          'bg-bronze': message.reward.type === 'bronze',
          'bg-platinum': message.reward.type === 'platinum'
       }">
    <span class="pd-reward-container-text"> {{message.message}} </span>
    <span *ngIf="message.reward.draftPoints as dp"> +{{dp}} DP </span>
  </div>

</ng-template>
