<div class="pd-teambuilder-list-row pd-teambuilder-list-header">

  <div class="pd-teambuilder-list-head-cell --tb-item-name-cell --action-cell"
       (click)="sortItemsByName()">
    Item
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-item-desc-cell">
    <translator3 [source]="{ english: 'Description', german: 'Beschreibung' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-item-fling-basepower"
       [translatableTitle2]="{
          english: 'The basepower of the attack Fling, when this item is thrown.',
          german: 'Die Stärke der Attacke Schleuder, wenn dieses Item geworfen wird.'
       }">
    <translator3 [source]="{ english: 'Fling', german: 'Schleuder' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-item-natural-gift"
       [translatableTitle2]="{
          english: 'If the item is a berry, it determines the basepower and the type of the attack Natural Gift.',
          german: 'Wenn das Item eine Beere ist, bestimmt es den Typ und die Stärke der Attacke Beerenkräfte.'
       }">
    <translator3 [source]="{ english: 'Berry', german: 'Beere' }"></translator3>
  </div>
</div>

<div #itemListContainer class="pd-teambuilder-list-content">

  <div class="pd-teambuilder-list-sub-container">
    <div class="pd-teambuilder-list-subheading-head">
      <span class="pd-teambuilder-list-subheading-title --subheading-line">
        <translator3 [source]="{ english: 'Popular Items', german: 'Beliebte Items' }"></translator3>
      </span>
    </div>

    <pd-item-list-row-container [items]="items.firstHalf"
                                [markedId]="marker.index"
                                (choose)="selectItem($event)">
    </pd-item-list-row-container>
  </div>

  <div class="pd-teambuilder-list-sub-container">
    <div class="pd-teambuilder-list-subheading-head">
      <span class="pd-teambuilder-list-subheading-title --subheading-line">
        <translator3 [source]="{ english: 'Other Items', german: 'Weitere Items' }"></translator3>
      </span>
    </div>

    <pd-item-list-row-container [items]="items.secondHalf"
                                [markedId]="marker.markerForSecondHalf"
                                (choose)="selectItem($event)">
    </pd-item-list-row-container>
  </div>

</div>

