<div class="pd-teambuilder-list-row pd-teambuilder-list-header">

  <div class="pd-teambuilder-list-head-cell --tb-name-cell --action-cell"
       (click)="sortPokemonByName()" (contextmenu)="sortPokemonByName(); false;">
    Name
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-types-cell">
    <translator3 [source]="{ english: 'Types', german: 'Typen' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-abilities-cell">
    <translator3 [source]="{ english: 'Abilities', german: 'Fähigkeiten' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-stat-cell --action-cell"
       [translatableTitle2]="{ english: 'Healthpoints', german: 'Kraftpunkte' }"
       (click)="sortPokemonByStat(sortingOptions.HP)"
       (contextmenu)="sortPokemonByStat(sortingOptions.HP, true); false;">
    <translator3 [source]="{ english: 'HP', german: 'KP' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-stat-cell --action-cell"
       [translatableTitle2]="{ english: 'Attack', german: 'Angriff' }"
       (click)="sortPokemonByStat(sortingOptions.ATK)"
       (contextmenu)="sortPokemonByStat(sortingOptions.ATK, true); false;">
    <translator3 [source]="{ english: 'Atk', german: 'Ang' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-stat-cell --action-cell"
       [translatableTitle2]="{ english: 'Defense', german: 'Verteidigung' }"
       (click)="sortPokemonByStat(sortingOptions.DEF)"
       (contextmenu)="sortPokemonByStat(sortingOptions.DEF, true); false;">
    <translator3 [source]="{ english: 'Def', german: 'Vert' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-stat-cell --action-cell"
       [translatableTitle2]="{ english: 'Special-Attack', german: 'Spezial-Angriff' }"
       (click)="sortPokemonByStat(sortingOptions.SPATK)"
       (contextmenu)="sortPokemonByStat(sortingOptions.SPATK, true); false;">
    <translator3 [source]="{ english: 'SpA', german: 'SpA' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-stat-cell --action-cell"
       [translatableTitle2]="{ english: 'Special-Defense', german: 'Spezial-Verteidigung' }"
       (click)="sortPokemonByStat(sortingOptions.SPDEF)"
       (contextmenu)="sortPokemonByStat(sortingOptions.SPDEF, true); false;">
    <translator3 [source]="{ english: 'SpD', german: 'SpV' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-stat-cell --action-cell"
       [translatableTitle2]="{ english: 'Speed', german: 'Initiative' }"
       (click)="sortPokemonByStat(sortingOptions.SPEED)"
       (contextmenu)="sortPokemonByStat(sortingOptions.SPEED, true); false;">
    <translator3 [source]="{ english: 'Spe', german: 'Init' }"></translator3>
  </div>

  <div class="pd-teambuilder-list-head-cell --tb-stat-cell"
       translatableTitle
       englishTitle="Base Stat Total (Sum of the other Stats)"
       germanTitle="Basiswertsumme (Summe der anderen Stats)">
    <translator3 [source]="{ english: 'Bst', german: 'Bws' }"></translator3>
  </div>

</div>

<div class="pd-container-row flex-align-center margin-top" *ngIf="pokemonLoadingState.loading$ | async">
  <pd-loader>
    <translator2 english="Loading Pokémon ..." german="Lade Pokémon ..."></translator2>
  </pd-loader>
</div>

<div class="pd-teambuilder-list-content"
     #pokemonListContainer
     *ngIf="pokemon.all.length > 0">
  <div *ngIf="(showTiers$ | async); then tierSeparatedList else noTiersList"></div>
</div>

<ng-template #tierSeparatedList>
  <div class="pd-teambuilder-list-sub-container"
       *ngFor="let tier of tiers | tierIsCommon">

    <div class="pd-teambuilder-list-subheading-head">
      <span class="pd-teambuilder-list-subheading-title"
            [translatableTitle2]="tier.description">
        <span *ngIf="tier.id === tier.name; else withDesc"> {{tier.id}} </span>
        <ng-template #withDesc>
          <span> {{tier.id + ' - ' + tier.name}} </span>
        </ng-template>
      </span>
    </div>

    <pokemon-list-row-container
      [pokemon]="pokemon.current | tierFilter : tier.id : tierPipeTrigger"
      (onchoose)="choosePokemon($event)">
    </pokemon-list-row-container>

  </div>
</ng-template>

<ng-template #noTiersList>
  <pokemon-list-row-container
    [pokemon]="pokemon.current"
    (onchoose)="choosePokemon($event)">
  </pokemon-list-row-container>
</ng-template>

<div class="pd-teambuilder-list-reload-button-left"
     [translatableTitle2]="{
        english: 'Reset filter',
        german: 'Filter zurücksetzen'
     }" (click)="resetFilters()">
  <img src="assets/icons/filter.png" alt="">
</div>

<div class="pd-teambuilder-list-reload-button-right"
     [translatableTitle2]="{
        english: 'Reload Pokémon',
        german: 'Pokémon neu laden'
     }" (click)="loadPokemon()">
  <img src="assets/icons/download.png" alt="">
</div>
