<div class="pd-teambuilder-list-row pd-teambuilder-list-row--selectable"
     [ngClass]="{
        'pd-teambuilder-list-row--marked': index === markedId
        }"
     (click)="chooseMove(move)"
     *ngFor="let move of moves; index as index">

  <div class="pd-teambuilder-list-cell --tb-move-name-cell --cell-align-left">
    <translator3 [source]="move.name"></translator3>
  </div>

  <div class="pd-teambuilder-list-cell --tb-move-props-cell">
    <pokemon-type-image [type]="move.type"></pokemon-type-image>
  </div>

  <div class="pd-teambuilder-list-cell --tb-move-props-cell">
    <move-category-image
      [category]="move.category">
    </move-category-image>
  </div>

  <div class="pd-teambuilder-list-cell --tb-move-props-cell">
    <translator2 class="pd-teambuilder-list-move-prop-label" english="Power" german="Stärke"></translator2>
    {{move.basePower}}
  </div>

  <div class="pd-teambuilder-list-cell --tb-move-props-cell">
    <translator2 class="pd-teambuilder-list-move-prop-label" english="Acc" german="Gen."></translator2>
    {{move.accuracy}}
  </div>

  <div class="pd-teambuilder-list-cell --tb-move-props-cell --tb-powerpoints-cell"
       translatableTitle
       englishTitle="A Pokémon can use {{move.name.english}} max. {{move.maxPowerPoints}} times. Base PP are only {{move.powerPoints}}."
       germanTitle="Ein Pokémon kann {{move.name.german}} max. {{move.maxPowerPoints}} Mal einsetzen. Basis AP sind {{move.powerPoints}}.">
    <translator2 class="pd-teambuilder-list-move-prop-label" english="PP" german="AP"></translator2>
    {{move.maxPowerPoints}}
  </div>

  <div class="pd-teambuilder-list-cell --tb-move-desc-cell --cell-align-left">
    <translator3 [source]="move.shortDescription" *ngIf="move.shortDescription.english; else longDesc"></translator3>
    <ng-template #longDesc>
      <translator3 [source]="move.description"></translator3>
    </ng-template>
  </div>

</div>
