@import "../../utils";

.pd-container {
  position: relative;
  flex: 0 1 600px;
  max-width: 600px;

  border: 1px solid $grey-lighter;
  border-radius: $radius;
  padding: 30px;
  background-color: $white;

  transition: $transition;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

.--home-container {
  position: absolute;
  @include center-relatively;
}

.--extended-form-container {
  flex-basis: 100%;
  max-width: 800px;
  padding: $padding-l;
  overflow: hidden;
}

.--full-width-form-container {
  max-width: 100%;
  width: 100%;
  padding: $padding-l;
  overflow: hidden;
}

.pd-container-row {
  @include flex-center-vertically;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 24px;
  outline: none;
}

.pd-container-row-item {
  flex-shrink: 1;
  @include flex-center-vertically;
}

.--large-row-margin-bottom {
  margin-bottom: 36px;
}

.--small-row-margin-bottom {
  margin-bottom: 12px;
}

.--row-has-border-bottom {
  padding-bottom: 12px;
  border-bottom: 1px solid $grey-lighter;
}

.pd-container-row-group {
  width: 100%;
}

.--heading-line {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    box-sizing: border-box;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #5f6368;
    transition: .2s;
  }
}

.pd-pokedraft-logo-for-container {
  position: absolute;
  left: 50%;
  top: -64px;
  transform: translateX(-50%);
  max-height: 54px;
  opacity: 1;
  transition: $transition;
}


.pd-container-row-label {
  flex: 0 1 300px;
  height: 100%;
  min-width: 120px;
  font-size: $font-size-l;
  color: $grey;
  padding: 0 $padding-l;
  line-height: $font-size;
  @include flex-center-vertically;
  cursor: pointer;
}

.pd-container-row-label-text {
  color: $primary;
  border: 1px solid $primary;
  border-radius: $radius;
  padding: $padding $padding-l;
}

.pd-container-row-content {
  flex: 1 1;
  height: 100%;
  @include flex-center-vertically;
}
