@import "../utils/variables/variables";
@import "../utils/mixins";

@mixin pd-teambuilder-container {
  padding: 8px;
  background-color: $white;
  border-radius: $radius;
  box-shadow: $tb-box-shadow;
}

@mixin clickable {
  transition: $transition;

  &:hover {
    border-color: $primary;
  }

  &:active {
    transition: 0s;
    border-color: $primary2;
    box-shadow: 0 0 4px 0 $primary inset;
  }
}
