
$header-height: 72px;
$navbar-height: 60px;



$top-bar-height: 60px;
$side-navbar-width: 200px;
$side-navbar-title-height: 56px;

$text-input-height: 36px;
$text-input-height--large: 44px;
$text-input-height--small: 32px;
