@import "global";

$tblogocontainer-height: 60px;
$tbtitle-height: 26px;
$teambuilder-main-width: 836px;
$teambuilder-list-padding: 8px;

$tbbackground: rgba(0, 0, 0, 0.08);
$tbbackground-lightyellow: #fdfff4;

$tablehead-height: 40px;

$space-to-screen-edge: 30px;

$tbframe-padding: 20px;

$tb-box-shadow: $floating-shadow;

$tb-container-margin: 20px;
