
$normal-type: #bcbcac;
$fire-type: #ff421c;
$water-type: #2f9aff;
$electric-type: #ffcd30;
$grass-type: #78cd54;
$flying-type: #669aff;
$bug-type: #abbc1c;
$poison-type: #ab549a;
$rock-type: #bcac66;
$ground-type: #debc54;
$fighting-type: #bc5442;
$ice-type: #78deff;
$psychic-type: #ff549a;
$ghost-type: #6666bc;
$dragon-type: #7866ef;
$dark-type: #785442;
$steel-type: #abacbc;
$fairy-type: #ffacff;

$type-color-list: (
  Normal: #bcbcac,
  Fire: #ff421c,
  Water: #2f9aff,
  Electric: #ffcd30,
  Grass: #78cd54,
  Flying: #669aff,
  Bug: #abbc1c,
  Poison: #ab549a,
  Rock: #bcac66,
  Ground: #debc54,
  Fighting: #bc5442,
  Ice: #78deff,
  Psychic: #ff549a,
  Ghost: #6666bc,
  Dragon: #7866ef,
  Dark: #785442,
  Steel: #abacbc,
  Fairy: #ffacff
);
