<section id="pd-teambuilder-header">

  <div class="pd-header-button-container">
    <pd-button class="right-space"
               icon="assets/icons/horizontal-array.png"
               routerLink="teams"
               routerLinkActive="display-none"> Teams </pd-button>
    <pd-button icon="assets/icons/build.png"
               routerLink="editor"
               routerLinkActive="display-none"> Editor </pd-button>
  </div>

  <div id="pd-teambuilder-logo-container">
    <img id="pd-logo" src="assets/pokedraftlogo.png" alt="Pokédraft">
  </div>

  <div id="pd-teambuilder-title">
    TEAMBUILDER
  </div>
</section>

<main id="pd-teambuilder-content">

  <div class="pd-teambuilder-frame">

    <router-outlet></router-outlet>

  </div>

</main>
