@import "../../utils";

.pd-content-window {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: $white-bis;
  padding-top: $top-bar-height;
  transition: $transition;

  &--navbar-active {
    margin-left: $side-navbar-width;
    width: calc(100% - #{$side-navbar-width});
  }
}

.pd-component-frame {
  position: relative;
  @include take-up-full-space;
  padding: $padding-l;
  overflow: auto;
}
