@import "../utils";

.no-margin {
 margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-left {
  margin-left: 0;
}

.left-space {
  margin-left: $margin-m;
}

.large-left-space {
  margin-left: $margin-xl;
}


.flex-align-left {
  justify-content: flex-start !important;
}

.flex-align-right {
  justify-content: flex-end !important;
}

.flex-align-center {
  justify-content: center !important;
}

.flex-align-top {
  align-items: flex-start !important;
}

.flex-align-bottom {
  align-items: flex-end !important;
}

.flex-space-between {
  justify-content: space-between !important;
}

.relative-container {
  position: relative;
}

.center-relatively {
  position: absolute;
  @include center-relatively;
}

.grid-align-left {
  justify-self: flex-start !important;
}

.grid-align-right {
  justify-self: flex-end !important;
}

.grid-align-center {
  justify-self: center !important;
}

.grid-place-center {
  place-self: center !important;
}

.side-padding {
  padding: 0 $padding-m !important;
}

.margin-top {
  margin-top: $margin-l !important;
}

.small-margin-top {
  margin-top: $margin-m !important;
}

.large-margin-bottom {
  margin-bottom: 30px !important;
}

.margin-bottom {
  margin-bottom: $margin-l !important;
}

.small-margin-bottom {
  margin-bottom: $margin-m !important;
}

.small-font-size {
  font-size: $font-size-xxs;
  line-height: 10px;
}

.pd-shadow {
  box-shadow: $floating-shadow;
}

.color-grey-light {
  color: $grey-light;
}

.standard-image-size {
  max-height: 150px;
}

.round-image {
  border-radius: 50%;
}

.image-subtle-border {
  border: 1px dashed $grey;
}

.svg-primary-color {
  fill: $primary;
}

.svg-secondary-color {
  fill: $secondary;
}

.svg-grey-color {
  fill: $grey;
}

.svg-success-color {
  fill: $green-1;
}

.svg-error-color {
  fill: $red-1;
}

.svg-platinum-color {
  fill: #b6d8ff;
}

.svg-gold-color {
  fill: $gold;
}

.svg-silver-color {
  fill: $silver;
}

.svg-bronze-color {
  fill: $bronze;
}

.bg-gold {
  background-color: $gold;
}

.bg-silver {
  background-color: $silver;
}

.bg-bronze {
  background-color: $bronze;
}

.pd-text {
  color: $grey;
}

.primary-color {
  color: $primary;
}

.primary2-color {
  color: $primary2;
}

.secondary-color {
  color: $secondary;
}
.color-white {
  color: $white;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.padding-top-adjustment {
  padding-top: 2px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.no-outline {
  outline: none;
}

.no-transition {
  transition: 0s;
}

.width-fit-content {
  width: fit-content !important;

  @-moz-document url-prefix() {
    width: -moz-fit-content;
  }
}

.display-none { display: none; }
