@import "../utils";

// dunno why, but it wont stretch to 100% without it!?
pd-teambar, pd-teambuilder-settings-bar {
  width: 100%;
}

pokemon-type-image, move-category-image {
  display: flex;
  align-items: center;
}

pd-pokemon-icon {
  max-height: $pokemon-icon-height;
}



