

<div class="pd-container-row --heading-line">
  <h2 class="no-margin left-space"> Upload Files </h2>
</div>

<div class="pd-container-row">
  <ul>
    <li> At the moment you can only upload images to Pokédraft.</li>
  </ul>
</div>

<div class="pd-container-row flex-align-center">
  <div class="pd-dropzone"
       dropzone
       (hover)="setHoveringState($event)"
       (dropped)="uploadFiles($event)">
    <div class="pd-dropzone-content">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path d="M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6H6zm7 7V3.5L18.5 9H13z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <div> Drag & Drop Files </div>
    </div>
  </div>
</div>

<div class="pd-container-row"
     *ngFor="let file of files">
  <pd-upload-task [file]="file"></pd-upload-task>
</div>

<div class="pd-container-row flex-align-center">
  <a routerLink="../"> Your Files </a>
</div>
