<div class="show-tooltip-on-hover">
  <pd-input #abilityInput
            size="small"
            animations="off"
            (click)="openAbilitiesList()"
            (valueChange)="searchForAbility($event)"
            (onblur)="resetSearchInput()"
            (keydown.arrowdown)="listDown()"
            (keydown.arrowup)="listUp()"
            (keydown.enter)="selectMarkedAbility()"
            [(value)]="searchAbility">
    <translator2 english="Ability" german="Fähigkeit"></translator2>
  </pd-input>

  <div class="pd-teambuilder-move-input-tooltip" *ngIf="currentAbility">
    <translator3 [source]="currentAbility.description"
                 *ngIf="currentAbility.description.english; else shortDesc"></translator3>
    <ng-template #shortDesc>
      <translator3 [source]="currentAbility.shortDescription"></translator3>
    </ng-template>
  </div>
</div>
